[include]
path = ~/.gitconfig.local

[core]
quotepath  = false
autocrlf = false
ignorecase = false
editor = vim

[init]
defaultBranch = main

[pull]
ff = only
rebase = false

[push]
default = current

[color]
ui = true

[alias]
a = add
b = branch
c = commit
d = diff
f = fetch
g = grep
l = log
m = merge
o = checkout
p = pull
s = status
w = whatchanged

co = checkout
cob = checkout -b
ba = branch -a
bm = branch --merged
bn = branch --no-merged

hist = log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)\" --graph --date=relative --decorate --all
llog = log --graph --name-status --pretty=format:\"%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset\" --date=relative
logo = log --oneline
logn = log --name-status --oneline
log1 = log -1
log2 = log -2
log3 = log -3
